USE [master]
GO
/****** Object:  Database [AgendaFW2GSG37571]    Script Date: 17/09/2012 17:06:45 ******/
CREATE DATABASE [AgendaFW2GSG37571]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'[AgendaFW2GSG37571]', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\[AgendaFW2GSG37571].mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'[AgendaFW2GSG37571]_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\[AgendaFW2GSG37571]_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgendaFW2GSG37571].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgendaFW2GSG37571]
GO
/****** Object:  Table [dbo].[Locais]    Script Date: 17/09/2012 17:06:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locais](
	[id] [smallint] NOT NULL,
	[nome] [nchar](30) NOT NULL,
 CONSTRAINT [PK_Locais] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pessoas]    Script Date: 17/09/2012 17:06:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pessoas](
	[id] [smallint] NOT NULL,
	[nome] [nchar](30) NOT NULL,
	[senha] [nchar](30) NOT NULL,
	[sexo] [char](1) NOT NULL,
	[idade] [smallint] NOT NULL,
 CONSTRAINT [PK_Pessoas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tarefas]    Script Date: 17/09/2012 17:06:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarefas](
	[id] [smallint] NOT NULL,
	[nome] [nchar](30) NOT NULL,
	[data] [datetime] NOT NULL,
 CONSTRAINT [PK_Tarefas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
